<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">zeal-web</a>
		</div>
		<div uib-collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li ng-repeat="item in menu" ui-sref-active="active">
					<a class="font-size-16" ui-sref="{{item.state}}">{{item.title}}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="user && user.userId">
					<a href="http://auth.gddata.net/" target="_blank">
						<img class="max-18 navbar-img"
							 ng-src="http://auth.gddata.net/api/user/icon?userId={{user.userId}}">
						{{user.nickname || user.username || user.userId}}
					</a>
				</li>
				<li>
					<a href="#" ng-click="logout()">注销</a>
				</li>
			</ul>
		</div>
	</div>
</div>
