<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">我的备忘录</a>
		</div>
		<div uib-collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li ng-repeat="item in menu" ui-sref-active="active">
					<a class="font-size-18" ui-sref="{{item.state}}">{{item.title}}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="user && user.id">
					<a href="#" target="_blank">
						<img class="max-18 navbar-img"
							 ng-src="http://file.xylsok.com/wwyz-file/{{user.ico}}">
						{{user.nickName || user.userName || user.id}}
					</a>
				</li>
				<li>
					<a href="#" ng-if="user&&user.id" ng-click="logout()">注销</a>
				</li>
			</ul>
		</div>
	</div>
</div>
