.content {
	min-height: 230px;
}

.side-bar {
	width: 30px;
	position: fixed;
	bottom: 300px;
	right: 0px;
	font-size: 14px;
	z-index: 100;

}

.side-bar div {
	width: 30px;
	display: inline-block;
	background-color: #ff946f;
	margin-bottom: 2px;
	padding: 20px 2px 20px 2px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	color:#fff;
}

