<navbar></navbar>
<div class="flex-full-view-free">
	<div class="container">
		<div class="row">

			<div class="font-size-18 col-sm-12 padding-5">
				<div class="main-top-time">2017年03月26日
					<i class="fa fa-calendar margin-left-5 margin-right-30" aria-hidden="true"></i>
				</div>
				<div class="navbar-title">数据库使用情况</div>
			</div>



			<!--整体统计-->
			<div class="col-sm-12 margin-top-5 padding-5 col-xs-12 col-lg-12">
				<div class="col-lg-2 col-sm-3 padding-3 col-xs-6">
					<div class="main-top-1 padding-15 color-777">
						<span class="font-size-24">207</span><br>
						<span class="font-size-12">机构数</span>

						<div class="main-icon-1"><i class="fa fa-institution font-size-24" title="登录的机构数"></i></div>
					</div>
				</div>

				<div class="col-lg-2 col-sm-3 padding-3 col-xs-6">
					<div class="main-top-1 padding-15 color-777">
						<span class="font-size-24">207</span><br>
						<span class="font-size-12">用户数</span>

						<div class="main-icon-2"><i class="fa fa-user font-size-28" title="登录的用户数"></i></div>
					</div>
				</div>

				<div class="col-lg-2 col-sm-3 padding-3 col-xs-6">
					<div class="main-top-1 padding-15 color-777">
						<span class="font-size-24">207</span><br>
						<span class="font-size-12">登录次数</span>

						<div class="main-icon-3"><i class="fa fa-sign-in font-size-28" title="登录次数"></i></div>
					</div>
				</div>

				<div class="col-lg-2 col-sm-3 padding-3 col-xs-6">
					<div class="main-top-1 padding-15 color-777">
						<span class="font-size-24">207</span><br>
						<span class="font-size-12">搜索次数</span>

						<div class="main-icon-1"><i class="fa fa-search font-size-24" title="总搜索次数"></i></div>
					</div>
				</div>

				<div class="col-lg-2 col-sm-3 padding-3 col-xs-6">
					<div class="main-top-1 padding-15 color-777">
						<span class="font-size-24">207</span><br>
						<span class="font-size-12">查看详情次数</span>

						<div class="main-icon-2"><i class="fa fa-eye font-size-28" title="查看详细信息次数"></i></div>
					</div>
				</div>

				<div class="col-lg-2 col-sm-3 padding-3 col-xs-6">
					<div class="main-top-1 padding-15 color-777">
						<span class="font-size-24">207</span><br>
						<span class="font-size-12">下载次数</span>

						<div class="main-icon-3"><i class="fa fa-download font-size-26" title="下载或在线打开PDF次数"></i></div>
					</div>
				</div>
			</div>
			<!--整体统计end-->



			<!--产品详情-->
			<div class="col-sm-12 padding-8">
				<uib-tabset>
					<uib-tab index="0" heading="SpecialSci产品详情">
						<section alt="SpecialSci产品详情" class="col-sm-12 col-xs-12 padding-0">
							<div class="main-tab-body padding-20 padding-top-5">

								<!--导航统计-->
								<div class="margin-10 padding-10 ">
									<h3 class="main-tab-title margin-5">导航数</h3>

									<div class="main-nav color-777" ng-repeat="x in [1,2,3,4,5,6,7]">
										<span class="font-size-24 main-tab-num">256</span><br/>
										<span class="font-size-12">学术导航</span>
									</div>
								</div>
								<!--导航统计end-->

								<div class="overflow-hidden">

									<!--搜索次数-->
									<div class="margin-horizontal-10 bg-color-f3f3f3 padding-10">
										<h3 class="main-tab-title margin-5">搜索次数</h3>

										<div class="margin-bottom-40">
											<div class="main-search-nav-unit-body">
												<div class="color-777 main-search-nav-unit margin-top-10"
													 ng-repeat="x in [1,2,3,4,5,6,7,8,9,10]">
													<div class="font-size-24 main-search-nav-title">491</div>
													<div class="main-search-nav-unit-hr"></div>
													<div class="marin-search-nav-unit-circle"></div>
													<div class="font-size-12 margin-top-5">动态目录搜索</div>
												</div>
											</div>
											<div class="main-search-nav-body">
												<hr class="main-search-nav-hr"/>
											</div>
										</div>
									</div>
									<!--搜索次数end-->

									<!--机构排名-->
									<div class="col-sm-12 padding-0">
										<div class="col-sm-6 col-xs-12 padding-15" ng-repeat="e in [1,2]">
											<h3 class=" main-tab-title margin-5">使用机构排名</h3>
											<table class="table table-bordered margin-top-15 margin-bottom-8">
												<thead>
													<tr>
														<th>用户名</th>
														<th>PV次数</th>
														<th>下载次数</th>
														<th>搜索次数</th>
													</tr>
												</thead>
												<tbody class="color-777">
													<tr ng-class-odd="'table-bg'"
														ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
														<td>国道数据</td>
														<td>333</td>
														<td>345</td>
														<td>5555</td>
													</tr>
												</tbody>
											</table>
											<div class="text-right padding-right-5">查看更多>></div>
										</div>
									</div>
								</div>

							</div>
						</section>
					</uib-tab>

					<uib-tab index="1" heading="METEL产品详情">
						<section alt="METEL产品详情">
							<div class="">

							</div>
						</section>
					</uib-tab>

					<uib-tab index="2" heading="DDS产品详情">
						<section alt="DDS产品详情">
							<div class="">

							</div>
						</section>
					</uib-tab>
				</uib-tabset>

			</div>
		</div>
	</div>
</div>
<footer></footer>
