<div class="container">
	<div class="row margin-top-150 animated bounce">
		<div class="col-sm-12">
			<section id="content">
				<form ng-submit="login._login()" >
					<h1>备忘录</h1>
					<div class="login">
						<input type="text" placeholder="Username" ng-model="user.userName" required="" id="username"/>
					</div>
					<div class="login">
						<input type="password" placeholder="Password" ng-model="user.password" required=""
							   id="password"/>
					</div>
					<div class="text-center">
						<input type="submit" value="登 陆"/>
						<a href="#">忘记密码</a>
						<a href="#">我要注册</a>
					</div>
				</form>
				<!-- form -->
				<div class="button">
					<div>
						<a href="#" ng-click="login._login2()">测试账号登录</a>
					</div>
				</div>
				<!-- button -->
			</section>
			<!-- content -->
		</div>
	</div>
</div><!-- container -->
